.style2 {color: #660000}
h2 {
	padding: 1em 2em 2em 1px;
}
.style3 {
	font-family: "Times New Roman", Times, serif;
	color: #FF33CC;
}
.style4 {
	color: #893B3B
}
body  { 
	color: #333333; 
	font-size: 10px; 
	font-family: Verdana, Helvetica, Arial, sans-serif; 
	text-decoration: none; 
	
	scrollbar-face-color:		#CCCCCC;
	scrollbar-track-color:		#CCCCCC;
	scrollbar-arrow-color:		#666666;
	scrollbar-highlight-color:	#666666;
	scrollbar-3dlight-color:	#CCCCCC;
	scrollbar-shadow-color:		#666666;
	scrollbar-darkshadow-color:	#CCCCCC;
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;
}

.mainbody {
	margin:0px;
}

.setleft{text-align:left;}

.border {  border: 1px solid #E6E6E6; margin: 0px;}
.borderfatbottom {
	border-right: 1px solid #E6E6E6;
	margin:0px 0px 0px 0px;
	border-top: 1px solid #E6E6E6;
	border-bottom: 20px solid #E6E6E6;
	border-left: 1px solid #E6E6E6;
	margin:0px 0px 0px 0px;
}
.borderbottomleft {  border-bottom: 15px solid #E6E6E6; border-left: 1px solid #E6E6E6; margin:0px 0px 0px 0px;}
.bordertopbottomleft {  border-top: 1px solid #E6E6E6; border-bottom: 1px solid #E6E6E6; border-left: 1px solid #E6E6E6; margin:0px 0px 0px 0px;}
.borderright {  border-right: 1px solid #E6E6E6; }
.borderleft {  border-left: 1px solid #E6E6E6; margin:0px 0px 0px 0px;}
.bordertop {  border-top: 1px solid #E6E6E6; margin:0px 0px 0px 0px;}
.bordertopleft {  border-top: 1px solid #E6E6E6; margin:0px 0px 0px 0px; border-left: 1px solid #E6E6E6; margin:0px 0px 0px 0px;}

td {  font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 10px; text-decoration: none; color: #333333; margin:0px 0px 0px 0px;}
td.cont{vertical-align: middle;}
p {  font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 10px; text-decoration: none; color: #333333; margin:0px 0px 0px 0px;}
text {  font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 10px; text-decoration: none; color: #333333; margin:0px 0px 0px 0px;}

a:link {  text-decoration: none; color: #660000; margin:0px 0px 0px 0px;}
a:visited {  text-decoration: none; color: #990000; margin:0px 0px 0px 0px;}
a:hover  { color: #cccccc; text-decoration: none; background: #c00; margin:0px 0px 0px 0px;}

.footerimgs IMG { border: 1px solid black }
/*
A:link IMG { border: 1px solid black }
A:active IMG { border: 1px solid black }
A:visited IMG { border: 1px solid black }
A:hover IMG { border: 1px solid black }
*/

.btnav { background-color: #cccccc; border: 0px #ffffff solid;} 

select, option, textarea, input  { color: #000000; font-size: 10px; font-family: Verdana, Helvetica, Arial, sans-serif; text-decoration: none; background-color: #cccccc; border: 1px solid #666666; margin:0px 0px 0px 0px;}

.footer {  font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 10px; text-decoration: none; color: #000000; margin:0px 0px 0px 0px;}
.xtrasmall  { color: #000000; font-size: 9px; font-family: Verdana, Helvetica, Arial, sans-serif; font-style: normal; text-decoration: none; margin:0px 0px 0px 0px;}
.wee-lite  {
	color: #FFCCCC;
	font-size: 14px;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-style: normal;
	text-decoration: none;
	margin:0px 0px 0px 0px;
}

.headline {font-family: Arial, Helvetica, sans-serif; font-size: 24px; font-style: normal; font-weight: bold; letter-spacing: -2px; line-height: 13px; color: #330000}
