 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 ">
                  <img class="img-responsive" src="img/hi_res.png" alt="">
                </div>
                <div class="col-lg-8">
                  <p>
                    I am a lead <span>UX Researcher & Designer</span> with over <span>ten years experience</span> leading UX and service design projects across multiple channels. I have aided many companies, from <span>start&#8209;ups </span>to<span> Fortune 500 companies</span> to launch successful products.
                  </p>
                  <p>
                    My approach balances <span>qualitative and quantitative research methods</span> with creative flair and a <span>genuine passion</span> for creating products people are excited to use.
                  </p>
                </div>
            </div>
        </div>
    </section>
