 <!-- Portfolio Modals -->
 {% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
      <!--div class="close-modal" data-dismiss="modal">
        <button type="button" class="btn btn-default " data-dismiss="modal"><i class="fa fa-times"></i></button>
      </div-->
          <div class="project-nav">
            <a goto="#portfolioModal-{{ post.modal-prev }}" class="portfolio-link prev" >
              {% if post.modal-prev %}
              <i class="fa fa-arrow-left fa-x"></i> <span class="nav-label">{{ post.modal-prev-label }}</span>
              {% else %}
              &nbsp;
              {% endif %}
            </a>
            <a class="portfolio-link dismiss"><i class="fa fa-times fa-3x"></i></a>
            <a goto="#portfolioModal-{{ post.modal-next }}" class="portfolio-link next" >
              {% if post.modal-next %}
              <span class="nav-label">{{ post.modal-next-label }}</span> <i class="fa fa-arrow-right fa-x"></i>
              {% else %}
              &nbsp;
              {% endif %}
            </a>
          </div>

      <div class="container">

          <div class="row">

            <!--{{ post.modal-id }}-->
            <div class="modal-body">

              <div class="row">
                <div class="col-md-1">
                  <!--a href="#portfolioModal-{{ post.modal-prev }}" class="portfolio-link prev"><img src="images/rewind.svg" alt="prev" class="nav-icon"/></a-->
                </div>
                <div class="col-md-4">
                  <h2><a href="{{ post.client_url }}"><img src="images/{{ post.client_logo }}" class="img-responsive img-centered" alt="{{ post.client }}"></a></h2>
                </div>
                <div class="col-md-6">
                  {% for client in site.data.projects %}
                    {% if client.name == post.project %}
                    <h3>{{ client.client }}</h3>
                    {% endif %}
                  {% endfor %}
                  <div class="project-role">
                    <strong class="role">{{ post.project-role }}</strong>
                  </div>
                </div>
                <div class="col-md-1">
                  <!--a href="#portfolioModal-{{ post.modal-next }}" class="portfolio-link next"><img src="images/forward.svg" alt="next" class="nav-icon"></a-->
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">

                  <p class="project-text hidden-xs">{{ post.intro }}</p>
                  <p class="project-text-narrow hidden-sm hidden-md hidden-lg">{{ post.intro }}</p>

                  {% for content in post.contents %}
                      {% if content.image %}
                      <figure>
                        <img src="images/{{ content.image }}" class="img-responsive img-centered screencap" alt="{{ content.caption }}">
                        <figcaption class="content-caption">{{ content.caption }}</figcaption>
                      </figure>
                      {% endif %}
                      <p class="project-text hidden-xs">{{ content.text }}</p>
                      <p class="project-text-narrow hidden-sm hidden-md hidden-lg">{{ content.text }}</p>

                  {% endfor %}
                  <button type="button" class="btn btn-default btn-close" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>

                </div>
                <div>
                  <span class="disclaimer">{{ post.client-confidentiality }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
