
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Selected Projects</h3>
                </div>
            </div>
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                </div>
                            </div>
                            <img src="images/{{ post.tile }}" class="img-responsive" alt="{{ post.project }}">
                        </a>
                        <div class="caption-content">
                          {% for client in site.data.projects %}
                            {% if client.name == post.project %}
                              <div class="thumb_title">{{ client.client }}</div>
                              <div class="thumb_tag">{{ client.tag }}</div>
                            {% endif %}
                          {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
