header, .navbar {
 background: black;
}

navbar-fixed-top.navbar-shrink {
  padding:0;
}

section {
  padding: 0 0 3em 0;
}

section#about {
  background: #000;
  text-align: left;
}

section.main header {
  padding-top: 2%;
}

section#about .id-badge {
  float: left;
  max-width: 250px;
}

section H3  {
  margin: 2em 0 1em 0;
}

section .img-icons {
  padding:2em;
}
section .img-icons img {
  height: 3em;
  border-radius: 50%;
}

.navpic {
  height: 4em;
}
.navbar-nav>.active>a {
    background-color: #58A6A2 !important;
}

#about.success {
  background-color: #58A6A2;
  color: #000;
}

#about P SPAN {
  color: #c1c;
}

H2 {
  color: #58A6A2;
}
H3 {
  padding-bottom: 1.5em;
}

P {
  line-height: 1.5em;
  font-size: 22px;
}

.modal-body P {
  text-align: left;
}
.footer-above {
  display: none;
}

footer .footer-below {
    padding: 10px 0;
    background-color: #58A6A2;
}

footer P {
  font-size: 11px;
  padding: 1em;
}
/* IE 6 */
* html footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

#portfolio .portfolio-item {
    padding: 2em;
    text-align: center;
}

#portfolio .portfolio-link img{
margin:auto;
}

.caption-content {
    padding: 1em;
}

.thumb_title {
    color: #58a6a2;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    line-height: 15px;
    overflow: hidden;
    white-space: nowrap;
    padding:0.3em;
}
.thumb_tag {
    font-family: Arial, sans-serif;
    color: grey;
    font-size: 11pt;
    line-height: 13px;
    overflow: hidden;
    white-space: nowrap;
    padding:0.3em;
}

.portfolio-item:hover .thumb_title {
  font-weight: 900;
}

.headshot {
  padding:1em;
}

H3 {
  padding: 0;
}

.img-centered {
  margin-bottom: 0;
}
.portfolio-modal .modal-content .img-centered.screencap {
  margin: auto;
  padding: 0;
  width: 100%;
  padding-bottom: 1em;
}

.portfolio-modal .btn-close {
  margin-top:3em;
}

P.project-text {
  padding: 4% 16% 4% 10%;
}
P.project-text-narrow {
    padding: 2em 0 2em 0%;
}

.project-role {
  padding:0em;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 5px;
    right: 50%;
    width: 75px;
    height: 0px;
    margin-top: -50px;
}

.portfolio-modal .close-modal .lr {
-webkit-transform: rotate(0deg);
-ms-transform: rotate(0deg);
 transform: rotate(0deg);
}

.portfolio-modal .close-modal .lr img.nav-icon{
  width:32px;
  color:green;
}

.role {
  color :#58A6A2;
}

#portfolio .portfolio-item .portfolio-link .caption {
  xbackground: #58a6a2;
  border-radius: 5px;
  xborder: 3px solid #53a6a2;

  background: rgba(88,166,162,0.9);
  background: -moz-radial-gradient(center, ellipse cover, rgba(88,166,162,0.9) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(88,166,162,0.9)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(88,166,162,0.9) 0%, rgba(255,255,255,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(88,166,162,0.9) 0%, rgba(255,255,255,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(88,166,162,0.9) 0%, rgba(255,255,255,1) 100%);
  background: radial-gradient(ellipse at center, rgba(88,166,162,0.9) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58a6a2', endColorstr='#ffffff', GradientType=1 );

}

#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity:0.8;
}

span.disclaimer {
  line-height: 5em;
  color: grey;
  font-style: oblique;
}

figcaption.content-caption {
  color: #58a6a2;
  font-size: 9pt;
  font-weight: 900;
  float: left;
  margin-top: -1em;
  margin-bottom: 1em;
}
