<div class="img-icons">
    <a id="linkedinOutbound" class="gaClick outline-outward linked-in" href="https://www.linkedin.com/in/shonar">
        <img class="" src="images/linkedin_icon.svg" alt="linkedin" />
    </a>
    <a id="twitterOutbound" class="gaClick outline-outward twitter" href="https://twitter.com/uxisready?refsrc=email">
        <img class="" src="images/twitter_icon.svg" alt="twitter" />
    </a>
    <a id="emailOutbound" class="gaClick outline-outward email" href="mailto:ux@shonareed.com?subject=hello%20(via%20shonareed.com)&body=Hit%20send%20and%20I%27ll%20get%20right%20back%20to%20you.%20-%20Shona">
        <img class="" src="images/email_icon.svg" alt="email ux@shonareed.com" />
    </a>
</div>
